.root{
    padding: 20px;
    margin: 20px;
    margin-top: 60px;
    background-color: #121212;
    width: 30%;
    border-radius: 20px;
}
.panel{
    text-align: center !important;
}

@media  screen and (max-width: 1194px) {
    .root{
      width: 80%;
      margin: 60px 10%;
    }
}