@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,500;1,700&display=swap');

.root{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
.left{
    flex: 0.4;
    width: 40%;
    background-color: black;
    position: relative;
}
.right{
    flex: 0.6;
    width: 60%;
    margin: 0 20px;
    color: #000000;
    text-align: left;
}
.name_cont{
  text-align: right;
  position: absolute;
  right: 15px;
  top: 25px;
  word-wrap: break-word;
  height: 300px;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  

}
.name{
    word-spacing: 9999999px;
}

.avatar_cont{
    position: absolute;
    top: 350px;
    width: 100%;
}
.about{
    width: 90%;
    word-wrap: break-word;
}
.avatar{
    width: 100%;
    height: 350px;
}
.company{
    margin: 2.5px 0;
}
.role{
    margin: 0
}

.contact_cont{
    position: absolute;
    bottom: 80px;
    width: 100%;
    text-align: center;
    padding: 0 10px;
}
.skills_inner_cont{
    display: flex;
}
.skill{
    display: flex;
    justify-content: space-between;
    line-height: 1.5;
}
.skill_name{
    justify-content: flex-start;
    padding-right: 20px;
}
.star{
    justify-content: flex-end;
}