.root{
  display: flex;
  flex-wrap: wrap;
}
.right{
    width: 65%;
    margin-top: 60px;
    text-align: center;
}
.fab{
    position: fixed !important;
    margin-top: 90vh !important;
    margin-left: 95vw !important;
}
.paper {
    width: 21cm;
    min-height: 29.7cm;
    margin: 1cm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: relative;
}
@page {
    size: A4;
    margin: 0;
}
@media print {
    body{
        visibility: hidden;
    }
    .paper{
        visibility: visible;
    }
    .paper {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: 21cm;
        min-height: 29.7cm;
        box-shadow: initial;
        background: white;
        page-break-after: always;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-print-color-adjust: exact;
    }
    

}


@media screen  and (max-width: 800px){
    .root{
        flex-direction: column;
    }
    .fab{
        margin-left: 10px !important;
        margin-bottom: 20px !important;
    }
    .right{
        width: 100%;
        overflow: scroll;
    }
    .page{
        object-fit: contain;
    }
}